/*============ REFERENCES =============*/

@import 'mixins'

/** Colors **/

$white: #FFFFFF
$black: #000000
$color_gold: #F8C81F
$section_color: #FDFBF7

/** Fonts **/

@font-face
  font-family: 'Roboto-Regular'
  src: url('../fonts/Roboto-Regular.ttf')
  font-weight: normal
  font-style: normal

$f_Roboto-Regular: 'Roboto-Regular', 'Arial', sans-serif

*
  box-sizing: border-box

html, body
  min-width: 320px
  padding: 0
  margin: 0
  scroll-behavior: smooth
  background: $section_color

h1,h2,h3,h4,h5,h6
  padding: 0
  margin: 0

p
  padding: 0
  margin: 0

a
  text-decoration: none

input
  outline: none
  border: none

ul
  padding: 0
  margin: 0
  list-style: none

.page-btn
  display: block
  padding: 17px 10px
  border-radius: 30px
  overflow: hidden
  font-size: 1rem
  line-height: 1.125rem
  font-weight: 700
  max-width: 200px
  font-family: 'Roboto-Regular'
  color: black
  text-align: center
  margin: 0 auto


.container
  @include media(1024px)
    max-width: 850px
    margin: 0 auto
  @include media(1300px)
    max-width: 1200px
    margin: 0 auto
  @include media(1440px)
    max-width: 1300px
    margin: 0 auto
  @include media(1920px)
    max-width: 1440px
    margin: 0 auto
.section__wrapper
  overflow: hidden

.t_break
  @include media(1300px)
    display: none

.c_gold
  background: $color_gold

.c_white
  background: $white

.t_hlight
  background: $color_gold

.c_purple
  &:after
    background: #B8ACD5

.c_ocean
  &:after
    background: #467B7F


/*** Header === /.header === ***/

.header
  width: 100%
  position: absolute
  z-index: 111111
  @include media(1220px)
    position: fixed
  &__nav-wrapper
    padding: 20px 10px
    display: flex
    align-items: center
    justify-content: space-between
    @include media(1300px)
      margin: 20px
      padding: 10px
      flex-direction: row
      background: $white
      border-radius: 80px
    @include media(1440px)
      padding: 10px 0
      flex-direction: row
      justify-content: center

  &__socials
    @include media(768px)
      padding: 0 0 0 20px
    @include media(1300px)
      display: none

  &__socials-icon
    margin: 0 20px 0 0
    @include media(768px)
      width: 30px
      height: 30px
    &:last-child
      margin: 0

  &__socials_active
    path
      fill: #000

  &__logo
    margin: 0 0 0 -20px
    @include media(768px)
      margin: 0 0 0 -70px
    @include media(1300px)
      margin: 0 0 0 15px
    @include media(1920px)
      margin: 0 30px 0 0

  &__logo-icon
    @include media(768px)
      width: 80px
      height: 80px
    @include media(1300px)
      width: 60px
      height: 55px
    @include media(1440px)
      width: 60px
      height: 60px

  &__nav-icon
    margin: 0 10px

  &__dropdown-menu
    display: none
    padding: 80px 0 0 0
    position: absolute
    width: 100%
    height: 100vh
    top: 0
    left: 0
    background: $white
    z-index: -1
    @include media(1300px)
      width: 100%
      display: block
      position: static
      height: auto
      padding: 0
      background: none

  &__dropdown_active
    display: block

  &__dropdown-list
    position: relative
    @include media(1300px)
      display: flex
      align-items: center
      flex-wrap: wrap
      justify-content: flex-start
    &:after
      @include pseudo(45px, 45px)
      top: 30px
      left: 20px
      background: url("../img/leaf.png") center no-repeat
      background-size: cover
      @include media(1300px)
        display: none
    &:before
      @include pseudo(45px, 45px)
      bottom: 140px
      right: 35px
      background: url("../img/leaf.png") center no-repeat
      background-size: cover
      transform: scale(-1, 1)
      @include media(1300px)
        display: none

  &__action-wrapper
    display: block
    @include media(1300px)
      display: flex
      justify-content: center
      align-items: center
      flex-direction: row-reverse
    @include media(1440px)
      width: auto
      flex-direction: row-reverse
      justify-content: center

  &__dropdown-item
    position: relative
    @include media(1300px)
      margin: 0 14px
    @include media(1440px)
      margin: 0 15px
    @include media(1920px)
      margin: 0 15px

  &__dropdown-link
    display: block
    margin: 20px 0
    @include font(16px, 18px)
    font-family: $f_Roboto-Regular
    font-weight: 800
    color: $black
    text-align: center
    @include media(1300px)
      font-size: px-to-rem(12px)
      &:hover
        &:after
          @include pseudo(100%, 2px)
          border-bottom: 2px dashed red
    @include media(1920px)
      @include font(14px, 16px)

  &__dropdown-catalog
    max-width: 320px
    display: flex
    justify-content: space-evenly
    align-items: center
    width: 80%
    margin: 50px auto 0 auto
    padding: 17px 25px
    border-radius: 30px
    background: $color_gold
    transition: .3s ease-in-out
    svg
      display: none
    &:hover
      background: $color_gold
      color: $white
      transition: .3s ease-in-out
      svg
        display: none
        path
          fill: $white
          transition: .3s ease-in-out
      &:after
        display: none
    @include media(1300px)
      margin: 0 auto
      padding: 10px
      max-width: 100%
      width: 180px
      border: 2px solid $color_gold
      background: transparent
      color: $color_gold
      svg
        display: none
        margin: 0 0 0 10px
        width: 20px
      &:hover
        border: 3px solid $color_gold
    @include media(1440px)
      max-width: 80%
      margin: 0
      width: 250px
      padding: 10px 10px
      @include font(16px, 21px)

  &__dropdown-partner
    position: relative
    max-width: 220px
    width: 55%
    margin: 20px auto
    padding: 13px 0
    border-radius: 30px
    color: $color_gold
    letter-spacing: 1px
    transition: .3s ease-in-out
    &:after
      @include pseudo(83%, 5px)
      background: url("../img/dot-line.svg") center no-repeat
      top: 40px
      left: 50%
      right: 0
      transform: translate(-50%, 50%)
    &:hover
      background: #F4FFC6
      transition: .3s ease-in-out
      &:after
        display: none
    @include media(1300px)
      display: none
      max-width: 400px
      width: 120px
      margin: 0 auto
      &:hover
        border: none
    @include media(1440px)
      width: 160px

.nav__close
  display: none
  @include media(1300px)
    display: none

.nav__close_active
  display: block

.nav__burger
  @include media(1300px)
    display: none

@keyframes rotate
  from
    transform: rotate(0)
  to
    transform: rotate(360deg)


/*** Main-screen === /.main-screen === ***/

.main-screen
  position: relative
  background: url("../img/bck.png") center no-repeat
  background-size: cover
  @include media(768px)
    padding: 0 0 80px 0
  @include media(1440px)
    &:after
      @include pseudo(100%, 500px)
      bottom: -140px
      left: -75px
      background: url("../img/main-screen-olive-arrow.svg") center no-repeat
      background-size: contain

      z-index: 11

  &__content
    position: absolute
    padding: 150px 0 20px 0
    @include media(1300px)
      margin: 0 0 0 250px

  &__title
    display: none

  &__title-img
    display: block
    margin: 0 10px
    width: 65%
    position: relative
    z-index: 10
    @include media(768px)
      width: 80%

  &__subtitle
    margin: 20px 40px 80px 40px
    max-width: 150px
    font-family: $f_Roboto-Regular
    @include font(20px, 24px)
    color: $white
    @include media(768px)
      max-width: 260px
      padding: 0 0 0 40px
      margin: 20px 40px 60px 40px
      @include font(32px, 38px)

  &__action
    position: relative
    z-index: 10
    input
      @include media(768px)
        margin: 0 60px

  &__slide
    position: relative
    @include media(768px)

  &__pagination
    bottom: 40px !important
    .swiper-pagination-bullet
      margin: 0 10px !important
      width: 10px
      height: 10px
      border: 2px solid $color_gold
      background: transparent
      bottom: 0
      opacity: 1

    .swiper-pagination-bullet-active
      background: $color_gold
  .swiper-container
    height: 100vh


  &__down
    margin: -30px 0 0 0
    display: flex
    justify-content: center
    svg
      display: block
      width: 20px

  &__img-top
    display: block
    width: 100%
    top: -300px
    right: -140px
    position: absolute
    opacity: 0
    @include media(768px)
      width: 80%
      top: -200px !important
    @include media(1300px)
      width: 40%
      left: -150px
      transform: translate(-25%, 55%)
      z-index: 0

  &__img-top-2
    display: block
    width: 120%
    top: -300px
    right: -180px
    position: absolute
    opacity: 0
    @include media(768px)
      width: 80%
    @include media(1300px)
      width: 50%
      right: 0px
      transform: translate(50%, 60%)
      z-index: 0

  &__img-top-3
    display: block
    width: 100%
    top: -300px
    right: -180px
    position: absolute
    opacity: 0
    @include media(768px)
      width: 60%
    @include media(1300px)
      width: 26%
      right: -200px
      transform: translate(-10%, 100%)
      z-index: 0

  &__img-top-4
    display: block
    width: 120%
    top: -300px
    right: -120px
    position: absolute
    opacity: 0
    @include media(768px)
      width: 90%
    @include media(1300px)
      width: 45%
      right: -200px
      transform: translate(-0%, 70%)
      z-index: 0

  &__img-middle-1-1
    width: 70%
    position: absolute
    top: 130px
    right: -90px
    transform: rotate(15deg)
    opacity: 0
    z-index: 10
    @include media(425px)
      top: 108px
    @include media(768px)
      width: 50%
    @include media(1300px)
      width: 30%
      left: 55%

  &__img-middle-1-2
    width: 70%
    top: 80px
    right: -25px
    position: absolute
    transform: rotate(-5deg)
    opacity: 0
    @include media(768px)
      width: 50%
      right: 10%
    @include media(1300px)
      width: 30%
      left: 45%

  &__img-desktop-1
    display: none
    @include media(1300px)
      display: block
      position: absolute
      width: 65%
      opacity: 0
      right: 0
      transform: translate(20%, 30%)

  &__img-middle-2-1
    width: 70%
    top: 100px
    right: -55px
    position: absolute
    transform: rotate(15deg)
    opacity: 0
    @include media(768px)
      width: 50%
      right: 0
    @include media(1300px)
      width: 30%
      left: 48%

  &__img-desktop-2
    display: none
    @include media(1300px)
      display: block
      position: absolute
      width: 35%
      opacity: 0
      left: 0
      transform: translate(-40%, 20%) rotate(180deg)

  &__img-middle-3-1
    width: 70%
    top: 100px
    right: -55px
    position: absolute
    transform: rotate(15deg)
    opacity: 0
    @include media(768px)
      width: 50%
      right: 0
    @include media(1300px)
      width: 28%
      left: 48%

  &__img-desktop-3
    display: none
    @include media(1300px)
      display: block
      position: absolute
      width: 45%
      opacity: 0
      left: 0
      transform: translate(-45%, 40%) rotate(-20deg)

  &__img-middle-4-1
    width: 70%
    top: 100px
    right: -55px
    position: absolute
    transform: rotate(15deg)
    opacity: 0
    @include media(768px)
      width: 50%
      right: 0
    @include media(1300px)
      width: 28%
      left: 48%

  &__img-desktop-4
    display: none
    @include media(1300px)
      display: block
      position: absolute
      width: 50%
      opacity: 0
      left: 0
      transform: translate(-43%, 0%) rotate(90deg)

  &__arrow
    width: 35%
    position: absolute
    bottom: 120px
    left: 50%
    transform: translate(-50%, 0%)
    opacity: 0
    @include media(768px)
      width: 20%
      left: 46%
    @include media(1300px)
      width: 10%
      left: 43%
      transform: rotate(30deg)

  &__socials
    display: none
    @include media(1300px)
      display: flex
      position: absolute
      bottom: 130px
      right: 100px
      z-index: 12

  &__socials-list
    @include media(1300px)
      display: flex

  &__socials-item
    @include media(1300px)
      margin: 0 20px 0 0

  &__socials-text
    @include media(1300px)
      max-width: 130px
      @include font(12px, 14px)
      font-family: $f_Roboto-Regular
      color: $white
      font-weight: 400

.main-screen__slide.swiper-slide-active
  .main-screen__img-top
    opacity: 1
    top: -150px
    transition: all 1s ease-in 0.1s
  .main-screen__img-top-2
    opacity: 1
    top: -100px
    transition: all 1s ease-in 0.1s
  .main-screen__img-top-3
    opacity: 1
    top: -150px
    transition: all 1s ease-in 0.1s
  .main-screen__img-top-4
    opacity: 1
    top: -110px
    transition: all 1s ease-in 0.1s
  .main-screen__img-middle-1-1
    opacity: 1
    transition: all 1s ease-in 0.1s
  .main-screen__img-middle-1-2
    opacity: 1
    transition: all 1s ease-in 0.1s
  .main-screen__img-desktop-1
    opacity: 1
    transition: all 1s ease-in 0.1s
  .main-screen__img-middle-2-1
    opacity: 1
    transition: all 1s ease-in 0.1s
  .main-screen__img-desktop-2
    opacity: 1
    transition: all 1s ease-in 0.1s
  .main-screen__img-middle-3-1
    opacity: 1
    transition: all 1s ease-in 0.1s
  .main-screen__img-desktop-3
    opacity: 1
    transition: all 1s ease-in 0.1s
  .main-screen__img-middle-4-1
    opacity: 1
    transition: all 1s ease-in 0.1s
  .main-screen__img-desktop-4
    opacity: 1
    transition: all 1s ease-in 0.1s
  .main-screen__arrow
    opacity: 1
    transition: all 1s ease-in 0.1s

.main-screen .swiper-container
  height: 560px
  min-height: 560px
  @include media(425px)
    height: 600px
  @include media(768px)
    height: 700px


/*** About === /.about === ***/

.about
  position: relative
  padding: 40px 0
  background: url('../img/bck.png') center no-repeat
  background-size: cover
  overflow: hidden
  &:before
    @include pseudo(100%, 350px)
    background: url("../img/about-pseudo-bottom.png") center no-repeat
    background-size: cover
    bottom: -180px
    transform: rotate(40deg)
    @include media(768px)
      height: 500px
      bottom: -260px
    @include media(1300px)
      height: 400px
      background-size: contain
      bottom: -200px
      left: 14%

  &__title
    display: none

  &__title-img
    display: block
    margin: 0 auto
    width: 90%
    @include media(768px)
      width: 70%

  &__wrapper
    @include media(1300px)
      padding: 70px 0 0 0
      display: flex

  &__img-desktop
    display: none
    @include media(1300px)
      display: block

  &__list
    padding: 50px 20px 100px 20px
    @include media(768px)
      margin: 30px 0 0 0
      display: flex
      flex-wrap: wrap
      justify-content: center

  &__list-item
    margin: 0 0 40px 0
    display: flex
    @include media(768px)
      margin: 0 0 60px 0

  &__list-svg
    margin: -10px 0 0 0
    width: 50px

  &__item-body
    margin: 0 20px

  &__item-title
    margin: 0 0 10px 0
    @include font(18px, 23px)
    letter-spacing: 1px
    font-family: $f_Roboto-Regular
    color: $color_gold

  &__item-text
    max-width: 200px
    @include font(14px, 20px)
    font-family: $f_Roboto-Regular
    color: $white


/*** Benefits === /.benefits === ***/

.benefits
  position: relative
  background: url("../img/benefits-bck.jpg") no-repeat
  background-size: cover
  background-position-x: -400px
  @include media(425px)
    background-position-x: -300px
  @include media(1024px)
    background-position-x: 0
  @include media(1300px)
    padding: 40px 0 0 0
    overflow: hidden
    &:before
      @include pseudo(400px, 100%)
      background: url("../img/benefits-bottle-with-arrow.png") center no-repeat
      background-size: cover
      top: -80%
      z-index: 1
      left: 55%
      transform: translate(-50%, 95%) scale(0.75)
      @include media(1440px)
        transform: translate(-50%, 90%) scale(1.1)
  &:after
    @include pseudo(100%, 100%)
    top: 0
    background: rgba(0,0,0,0.6)
    z-index: 0

  &__title
    text-indent: -99999px

  &__subtitle
    padding: 20px
    font-family: $f_Roboto-Regular
    @include font(20px, 24px)
    color: $white
    @include media(1300px)
      padding: 20px 80px
      max-width: 600px
      @include font(28px, 34px)

  &__header
    display: flex
    flex-direction: column
    @include media(425px)
      padding: 0 30px
    img
      padding: 0 40px 0 20px
      width: 100%
      @include media(425px)
        width: 90%
      @include media(768px)
        margin: 40px 0 0 0
        width: 60%
      @include media(1300px)
        width: 40%
        padding: 0px 40px 0 80px

  &__title-logo
    filter: grayscale(50%)
    @include media(425px)
      width: 40%

  &__wrapper
    position: relative
    z-index: 1

  &__content
    @include media(1024px)
      padding: 50px 100px
      display: flex
      flex-direction: row-reverse
      align-items: flex-start
    @include media(1300px)
      padding: 50px 100px 0 100px

  &__preview
    padding: 20px 30px 35px 30px
    display: flex
    align-items: center
    justify-content: space-between
    font-family: $f_Roboto-Regular
    @include font(16px, 20px)
    color: $white
    @include media(425px)
      max-width: 425px
      margin: 0 auto
    @include media(768px)
      margin: 0 60px
    @include media(1300px)
      margin: -300px 0 0 230px
      flex-direction: column
      position: relative
    @include media(1920px)
      margin: -300px auto 0 400px
      flex-direction: column
      position: relative
      &:after
        @include pseudo(120px, 120px)
        top: 150px
        left: 0
        background: url("../img/arrow-dashed.svg") center no-repeat
        background-size: contain
        transform: scale(-1, -1)

  &__preview-img
    margin: 0 10px 0 0
    width: 100px
    border-radius: 50%
    border: 3px solid $white
    @include media(768px)
      width: 165px
      height: 165px
    @include media(1024px)
      width: 200px
    @include media(1300px)
      display: block
      width: 200px
      height: 200px

  &__preview-title
    @include media(1300px)
      margin: 20px 0 40px 80px
      @include font(18px, 22px)
      max-width: 300px

  &__title-description
    display: none
    @include media(1300px)
      display: block
      padding: 50px 0 80px 0
      @include font(20px, 26px)

  &__inst-wrapper
    display: none
    @include media(1300px)
      box-sizing: border-box
      padding:  10px 20px 0 20px
      display: block
      background-image: repeating-linear-gradient(-2deg, $color_gold, $color_gold 19px, transparent 19px, transparent 26px, $color_gold 26px), repeating-linear-gradient(88deg, $color_gold, $color_gold 19px, transparent 19px, transparent 26px, $color_gold 26px), repeating-linear-gradient(178deg, $color_gold, $color_gold 19px, transparent 19px, transparent 26px, $color_gold 26px), repeating-linear-gradient(268deg, $color_gold, $color_gold 19px, transparent 19px, transparent 26px, #ffffff 26px)
      background-size: 2px 100%, 100% 2px, 2px 100% , 100% 2px
      background-position: 0 0, 0 0, 100% 0, 0 100%
      background-repeat: no-repeat

  &__inst
    display: block
    margin: 0 0 30px 0
    @include font(18px, 32px)
    @include media(1300px)
      @include font(14px, 22px)
    &:last-child
      margin: 0 0 10px 0

  &__action
    display: none
    position: relative
    @include media(1024px)
      padding: 20px 0
      display: block
      input
        display: block
        padding: 17px 30px
        margin: 0
        @include font(16px, 18px)
        border-radius: 30px
        background: #8DBD4F
        color: #FFFFFF
    @include media(1300px)
      &:after
        @include pseudo(35px,35px)
        top: 30px
        left: 300px
        background: url("../img/arrow-white.svg") center no-repeat
        background-size: contain
        opacity: 0
        transition: all .3s ease-in-out
      &:hover
        input
          padding: 17px 70px 17px 30px
        &:after
          @include pseudo(35px,35px)
          top: 30px
          left: 300px
          background: url("../img/arrow-white.svg") center no-repeat
          background-size: contain
          transition: all .3s ease-in-out .3s
          opacity: 1

  &__list
    padding: 0 20px 20px 20px
    @include media(768px)
      display: flex
      flex-wrap: wrap
      justify-content: center
    @include media(1300px)
      margin: 0 0 40px 0
      padding: 0 0 0 120px
      justify-content: space-between
    @include media(1440px)
      margin: 0 0 40px 0
      padding: 0 0 0 120px
      justify-content: space-between

  &__item
    max-width: 400px
    margin: 0 0 40px 0
    display: flex
    align-items: center
    font-family: $f_Roboto-Regular
    transition: .3s ease-in-out
    @include media(768px)
      max-width: 300px
      margin: 40px 20px
    @include media(1300px)
      max-width: 50%
      width: 400px
      margin: 0 0 40px 0
    svg
      width: 100px
      @include media(1300px)
        width: 100px
        height: 100px
        //transform: scale(2)
      path
        transition: .3s ease-in-out
    &:hover
      svg
        path
          fill: $color_gold
          transform: scale(0.95)
          transition: .3s ease-in-out
    @include font(16px, 18px)
    color: $white

  &__item-text
    padding: 0 0 0 20px
    max-width: 170px
    @include media(425px)
      max-width: 250px
    @include media(768px)
      max-width: 200px
    @include media(1300px)
      max-width: 500px
      width: 500px
      margin: 0 40px 0 50px
      @include font(18px, 26px)


/*** Advantage === /.advantage === ***/

.advantage
  position: relative
  background: $section_color
  overflow: hidden
  &:after
    @include pseudo(30%, 30%)
    background: url('../img/advantage-bottle.png') center no-repeat
    background-size: cover
    bottom: 260px
    right: -55px
    z-index: 100
    @include media(425px)
      width: 45%
      height: 45%
      bottom: 50px
      right: -100px
    @include media(768px)
      width: 30%
      right: -120px
    @include media(1300px)
      height: 85%
      top: 180px
      left: -210px
  &:before
    @include pseudo(100%, 50%)
    //background: url('../img/advantage-dish.png') center no-repeat
    background-size: contain
    bottom: -298px
    left: -107px
    z-index: 2
    transform: scale(0.8)


  &__header-img
    display: block
    margin: 40px auto 20px auto
    width: 65%
    @include media(768px)
      width: 50%
    @include media(1300px)
      width: 40%

  &__content
    @include media(1300px)
      padding: 80px 40px 40px 40px
      display: flex
      flex-direction: row-reverse
      align-items: center

  &__header-img-title
    width: 100%
    padding: 0 20px
    @include media(768px)
      width: 70%
    @include media(1300px)
      width: 500px

  &__subtitle
    padding: 0 30px
    margin: 0 0 30px 0
    font-family: $f_Roboto-Regular
    @include font(20px, 24px)
    @include media(768px)
      max-width: 300px
      margin: 0 10px 30px 10px
    @include media(1300px)
      max-width: 400px
      margin: 20px 10px 60px 10px
      @include font(28px, 32px)

  &__action
    @include media(768px)
      display: flex
      align-items: center
      justify-content: flex-start
      input
        margin: 0 40px
      a
        margin: 0 20px
    @include media(1300px)
      flex-direction: column
      align-items: flex-start
      a
        display: block
        max-width: 60%
        width: 60%
        @include font(20px, 23px)
        margin: 30px 0 0 10px
        &:after
          width: 60%

  &__slider
    margin: 60px 0 0 0
    padding: 0 20px
    position: relative
    overflow: hidden
    .swiper-wrapper
      @include media(1300px)
        display: flex
        flex-wrap: wrap
        justify-content: space-around

  &__slide
    padding: 0 10px
    max-width: 280px
    @include media(425px)
      max-width: 90%
      margin: 0 15px 0 25px
    @include media(768px)
      margin: 0 5px 0 0
      max-width: 100%
    @include media(1300px)
      margin: 0 0 70px 0
      width: 40%

  &__slide-img-title
    margin: 0 0 10px 0
    width: 70%
    @include media(768px)
      width: 45%

  &__slide-text
    font-family: $f_Roboto-Regular
    @include font(16px, 20px)
    @include media(768px)
      max-width: 400px
    @include media(1300px)
      max-width: 380px

  &__partner-btn
    @include media(1300px)
      display: block


/*** Advice === /.advice === ***/

.advice
  position: relative
  padding: 50px 0 0 0
  background: url("../img/bck.png") center no-repeat
  background-size: cover

  @include media(1300px)
    padding: 160px 0 0 0
    overflow: hidden
  &__carts
    display: none
    @include media(1300px)
      display: block
      position: relative
      height: 100vh

  &__cart-1
    @include media(1300px)
      position: absolute
      width: 190px
      top: 40px
      left: 1280px
      height: auto

  //&__cart-1_active
  //  opacity: 1
  //  left: -100px
  //  transition: 2.8s ease

  &__cart-2
    @include media(1300px)
      position: absolute
      width: 190px
      top: 40px
      left: 1280px
      height: auto

  //
  //&__cart-2_active
  //  opacity: 1
  //  left: 20px
  //  transition: 2.8s ease

  &__cart-3
    @include media(1300px)
      position: absolute
      width: 190px
      top: 40px
      left: 1280px
      height: auto

  //
  //&__cart-3_active
  //  opacity: 1
  //  left: 140px
  //  transition: 2.6s ease

  &__cart-4
    @include media(1300px)
      position: absolute
      width: 190px
      top: 40px
      left: 1280px
      height: auto

  //&__cart-4_active
  //  opacity: 1
  //  left: 260px
  //  transition: 2.4s ease

  &__cart-5
    @include media(1300px)
      position: absolute
      width: 190px
      top: 40px
      left: 1280px
      height: auto


  //&__cart-5_active
  //  opacity: 1
  //  left: 380px
  //  transition: 2.2s ease

  &__cart-6
    @include media(1300px)
      position: absolute
      width: 190px
      top: 40px
      left: 1280px
      height: auto


  //&__cart-6_active
  //  opacity: 1
  //  left: 500px
  //  transition: 2s ease

  &__cart-7
    @include media(1300px)
      position: absolute
      width: 190px
      top: 40px
      left: 1280px
      height: auto

  //
  //&__cart-7_active
  //  opacity: 1
  //  left: 620px
  //  transition: 1.8s ease

  &__cart-8
    @include media(1300px)
      position: absolute
      width: 190px
      top: 40px
      left: 1280px
      height: auto


  //&__cart-8_active
  //  opacity: 1
  //  left: 740px
  //  transition: 1.6s ease

  &__cart-9
    @include media(1300px)
      position: absolute
      width: 190px
      top: 40px
      left: 1280px
      height: auto


  //&__cart-9_active
  //  opacity: 1
  //  left: 860px
  //  transition: 1.4s ease

  &__cart-10
    @include media(1300px)
      position: absolute
      width: 190px
      top: 40px
      left: 1280px
      height: auto


  //&__cart-10_active
  //  opacity: 1
  //  left: 980px
  //  transition: 1.2s ease

  &__cart-11
    @include media(1300px)
      position: absolute
      width: 190px
      top: 40px
      left: 1280px
      height: auto
      //opacity: 0
      //opacity: 0


  //&__cart-11_active
  //  opacity: 1
  //  left: 1100px
  //  transition: 1s ease


  &__slide-title
    display: none

  &__slide-img-title
    display: block
    margin: 0 auto
    width: 70%
    position: relative
    z-index: 2


  &__slide-taste
    position: relative
    @include media(1300px)
      position: absolute
      top: 0
      display: flex
      opacity: 0
      transition: opacity .1s ease
    &:after
      @include pseudo(100%, 400px)
      top: -250px
      left: -140px
      background: url("../img/advance-part.png") center no-repeat
      background-size: cover
      z-index: 0
      transform: scale(.7)
      @include media(768px)
        height: 350px
        width: 80%
        top: -420px
        left: -300px
        height: 750px
        transform: scale(0.5)
      @include media(1300px)
        display: none
    &:before
      @include pseudo(200px, 200px)
      top: -45px
      left: 50%
      background: url("../img/advice-slide-1.png") center no-repeat
      background-size: contain
      transform: translate(-48%, 50%) scale(2.8)
      z-index: 2
      @include media(768px)
        transform: translate(-48%, 65%) scale(3.8)
      @include media(1300px)
        top: 5px
        transform: translate(-50%, 90%) scale(3)

  &__slide-taste_hide
    opacity: 0 !important
    transition: 1s ease-in-out

  &__slide-content-desktop
    display: none
    @include media(1300px)
      padding: 0 40px 0 100px
      display: block

  &__desktop-text
    @include media(1300px)
      width: 320px
      margin: 0 0 70px 0
      font-family: $f_Roboto-Regular
      @include font(18px, 22px)
      color: $white

  &__secret-text
    display: none
    @include media(768px)
      display: block
      font-family: $f_Roboto-Regular
      @include font(20px, 24px)
      color: $color_gold

  &__block
    @include media(1300px)
      width: 45%

  &__slide-diff
    position: relative
    @include media(1300px)
      padding: 0 100px
      //max-width: 360px
      position: absolute
      top: 0
      display: flex
      opacity: 0
      justify-content: space-between
    &:after
      @include pseudo(100%, 400px)
      top: -100px
      left: 40px
      background: url("../img/advice-slide-2.png") center no-repeat
      background-size: cover
      z-index: 0
      transform: scale(1)
      @include media(425px)
        height: 700px
        top: -200px
        transform: scale(0.8)
      @include media(768px)
        height: 1200px
        top: -300px
        transform: scale(0.7)
      @include media(1300px)
        display: none

    .advice__slide-img-title
      width: 100%
      display: block
      margin: 0 0 230px 0
      @include media(1300px)
        margin: 0
    .advice__slide-content
      @include media(1300px)
        margin: 0
        max-width: 360px
      input
        margin: 20px auto 0 auto
        @include media(1300px)
          margin: 40px 0 0 0

  &__diff-img-title
    @include media(768px)
      width: 100%
      z-index: 1
      position: relative
      margin: 0 0 25px 0
    @include media(1300px)
      width: 100%

  &__diff-content
    @include media(768px)
      flex-direction: column

  &__content-diff-text-desktop
    display: none
    @include media(1300px)
      margin: 0 0 20px 0
      display: block
      font-family: $f_Roboto-Regular
      color: $white
      @include font(17px, 21px)

  &__diff-desktop-bottles
    @include media(1300px)
      width: 45%
      position: relative
      &:after
        @include pseudo(150px, 150px)
        background: url("../img/arrow-desktop.svg") center no-repeat
        left: -250px
        bottom: 60px

  &__diff-desktop-img
    display: none
    @include media(1300px)
      display: block
      width: 100%
      margin: 0 auto
      transform: translate(0, 20%) scale(1.4)

  &__content-text-tablet
    display: none
    @include media(768px)
      display: block
      margin: 40px 0 20px 0
      @include font(16px, 21px)
      font-family: $f_Roboto-Regular
      color: $white
    @include media(1300px)
      margin: 0 0 20px 0


  &__diff-text
    @include media(768px)
      width: 100% !important

  &__slide-content
    position: relative
    margin: 220px 0 0 0
    padding: 20px 16px 40px 16px
    background: $black
    z-index: 20
    @include media(768px)
      display: flex
      justify-content: space-evenly
    @include media(1300px)
      margin: 100px 0 0 280px
      background: none
      display: block

  &__content-text
    font-family: $f_Roboto-Regular
    @include font(16px, 20px)
    color: $white
    @include media(768px)
      width: 40%
    @include media(1300px)
      width: 70%
      @include font(18px, 22px)

  &__content-secret
    @include media(768px)
      width: 40%

  &__secret-svg-wrapper
    @include media(768px)
      position: relative
      top: 2px
      z-index: 111
      width: 80px
      display: flex
      justify-content: center
      padding: 10px
      background-image: repeating-linear-gradient(-2deg, #fff, #fff 19px, transparent 19px, transparent 26px, #fff 26px), repeating-linear-gradient(88deg, #fff, #fff 19px, transparent 19px, transparent 26px, #fff 26px), repeating-linear-gradient(178deg, #fff, #fff 19px, transparent 19px, transparent 26px, #fff 26px), repeating-linear-gradient(268deg, #000, #000 29px, transparent 19px, transparent 26px, #000 26px)
      background-size: 2px 100%, 100% 2px, 2px 100% , 100% 2px
      background-position: 0 0, 0 0, 100% 0, 0 100%
      background-repeat: no-repeat
    @include media(1300px)
      margin: 40px 0 0 0
      background-image: repeating-linear-gradient(-2deg, #fff, #fff 19px, transparent 19px, transparent 26px, #fff 26px), repeating-linear-gradient(88deg, #fff, #fff 19px, transparent 19px, transparent 26px, #fff 26px), repeating-linear-gradient(178deg, #fff, #fff 19px, transparent 19px, transparent 26px, #fff 26px), repeating-linear-gradient(268deg, #000, #000, 29px, #000 19px, #000 26px, #000 26px)


  &__secret-svg
    display: none
    @include media(768px)
      display: flex



  &__secret-text
    @include media(768px)
      padding: 10px
      background-image: repeating-linear-gradient(-2deg, #fff, #fff 19px, transparent 19px, transparent 26px, #fff 26px), repeating-linear-gradient(88deg, #fff, #fff 19px, transparent 19px, transparent 26px, #fff 26px), repeating-linear-gradient(178deg, #fff, #fff 19px, transparent 19px, transparent 26px, #fff 26px), repeating-linear-gradient(268deg, #fff, #fff 19px, transparent 19px, transparent 26px, #fff 26px)
      background-size: 2px 100%, 100% 2px, 2px 100% , 100% 2px
      background-position: 0 0, 0 0, 100% 0, 0 100%
      background-repeat: no-repeat
    @include media(1300px)
      width: 320px
      padding: 15px

  &__content-text-tablet
    display: none
    @include media(768px)
      display: block

  &__pagination
    .swiper-pagination-bullet
      margin: 0 10px !important
      width: 10px
      height: 10px
      border: 2px solid $color_gold
      background: transparent
      bottom: 0
      opacity: 1

    .swiper-pagination-bullet-active
      background: $color_gold


/*** Compare === /.compare === ***/

.compare
  position: relative
  background: $section_color
  @include media(1300px)
    &:before
      @include pseudo(100%, 100%)
      background: url("../img/compare-desktop-bck.png") center no-repeat
      background-size: cover

  &__slider
    @include media(1300px)
      //display: none

  &__slide
    padding: 150px 15px

  &__slide-left
    position: relative
    overflow: hidden
    @include media(1300px)
      width: 40%
    &:after
      @include pseudo(100%, 80%)
      background: url("../img/compare-bottle-left.png") center no-repeat
      background-size: contain
      top: 90px
      right: -80px
      @include media(375px)
        right: -120px
      @include media(425px)
        right: -145px
      @include media(768px)
        right: -300px
      @include media(1300px)
        right: -250px
      @include media(1920px)
        right: -280px
    &:before
      @include pseudo(90%, 100%)
      top: 0
      left: 110px
      background: url("../img/compare-pseudo-2.png") center no-repeat
      background-size: contain
      transform: scale(3.8)
      @include media(1300px)
        display: none

  &__slide-right
    position: relative
    overflow: hidden
    @include media(1300px)
      width: 40%
    &:after
      @include pseudo(100%, 74.5%)
      background: url("../img/compare-bottle-right.png") center no-repeat
      background-size: contain
      top: 37px
      left: -94px
      @include media(375px)
        width: 84%
        height: 82%
        left: -103px
      @include media(425px)
        height: 88%
        left: -120px
      @include media(768px)
        height: 93.5%
        top: 18px
        left: -250px
      @include media(1300px)
        top: 0px
        left: -203px
      @include media(1440px)
        left: -220px
      @include media(1920px)
        left: -245px
    &:before
      @include pseudo(90%, 100%)
      top: 0
      left: -60px
      background: url("../img/compare-pseudo-1.png") center no-repeat
      background-size: contain
      transform: scale(3.8)
      @include media(1300px)
        display: none

    .compare__content
      margin: 0 0 0 70px
      @include media(1300px)
        margin: 0

  &__slider-wrapper
    @include media(1300px)
      display: flex
      align-items: center


  &__slide-title
    display: none

  &__title-img
    @include media(768px)
      width: 70%
    @include media(1300px)
      width: 75%
      margin: 0 0 20px 0

  &__text
    font-family: $f_Roboto-Regular
    @include font(16px, 20px)
    @include media(768px)
      margin: 0 15px
      @include font(30px, 32px)
    @include media(1300px)
      @include font(18px, 22px)


  &__compare-images
    display: none
    position: relative
    @include media(1300px)
      display: block
      &:after
        @include pseudo(250px, 150px)
        top: 0px
        left: -200px
        background: url("../img/compare-sprite.png") center no-repeat
        background-size: cover
        background-position-y: -155px
    @include media(1220px)
      &:before
        @include pseudo(250px, 150px)
        bottom: 20px
        right: -200px
        background: url("../img/compare-sprite.png") center no-repeat
        background-size: cover
        background-position-y: -0px

  &__pagination
    .swiper-pagination-bullet
      margin: 0 10px !important
      width: 10px
      height: 10px
      border: 2px solid $color_gold
      background: transparent
      bottom: 0
      opacity: 1

    .swiper-pagination-bullet-active
      background: $color_gold


.ba-container
  width: 250px
  margin: 0 auto

.ba-slider
  position: relative
  overflow: hidden
  height: 750px
  width: 100%
  img
    width: 100%
    display: block
    transform: scale(1.6) translate(0, 30%)

.resize
  position: absolute
  top: 0
  left: 0
  height: 100%
  width: 50%
  overflow: hidden
  background: #FDFBF7
  img
    //transform: scaleX(0.84) scaleY(0.83) translate(-5px, -75px)


.draggable
  &:after
    width: 48px
    height: 48px
    margin: -24px 0 0 -24px
    line-height: 48px
    font-size: 30px


.handle
  position: absolute
  left: 50%
  top: 60px
  height: 77%
  bottom: 0
  width: 4px
  margin-left: -2px
  background: $color_gold
  cursor: ew-resize
  &:after
    content: ''
    position: absolute
    top: 50%
    width: 23px
    height: 62px
    margin: -32px 0 0 -10px
    color: #008000
    border-radius: 10px
    transition: all 0.3s ease
    background: url("../img/compare-toggler.png") center no-repeat

/*** Catalog === /.catalog === ***/

.catalog
  padding: 40px 0 0 0
  position: relative
  background: $section_color
  overflow: hidden

  &__header-title
    display: none

  &__header-img-title
    display: block
    width: 90%
    margin: 0 auto 10px auto
    @include media(768px)
      width: 70%
    @include media(1300px)
      margin: 40px auto 0 auto
      width: 40%

  &__nav-slide
    padding: 0 0 50px 0
    @include media(768px)


  &__imgs-block
    position: relative

  &__item
    cursor: pointer
    &:hover
      .catalog__item-img-bck
        opacity: 1
        transition: .3s ease-in-out
      .catalog__item-text
        color: $white
        &:after
          display: block
          @include pseudo(100%, 100%)
          top: 0
          left: 0
          z-index: -1
          transition: .3s ease-in-out

  &__item-img
    position: absolute
    left: 50%
    transform: translate(-50%, 0%)
    z-index: 1
    @include media(1300px)
      width: 45%

  &__best-choice
    display: none
    position: absolute
    transform: translate(-50%, 0%)
    width: 100px
    height: 100px
    top: 0
    left: 33%
    z-index: 2
    animation: rotate 10s normal linear infinite
    @include media(375px)
      left: 35.5%
    @include media(1300px)
      left: 46.5%
      top: 30%

  &__best-choice_active
    display: block

  &__item-img-bck
    opacity: 0
    position: relative
    left: 50%
    transform: translate(-50%, 50%)
    z-index: 0
    transition: .3s ease-in-out

  &__item-content
    margin: 140px 0 0 0
    text-align: center


  &__item-text
    position: relative
    padding: 5px 10px
    display: inline-block
    font-family: $f_Roboto-Regular
    @include font(20px, 23px)
    font-weight: 700
    z-index: 2
    transition: .3s ease-in-out
    &:after
      display: none
      @include pseudo(0%, 100%)
      top: 0
      left: 0
      transition: .3s ease-in-out

  &__nav-btn
    display: flex
    margin: 0 auto
    background: none
    border: none
    outline: none

  &__pagination
    color: $color_gold
    font-family: $f_Roboto-Regular
    .swiper-pagination-current
      @include font(30px, 35px)
    .swiper-pagination-total
      @include font(16px, 18px)


  &__tab-subtitle

@keyframes rotate
  0%
    transform: rotate(0deg)

  25%
    transform: rotate(90deg)

  50%
    transform: rotate(180deg)
  75%
    transform: rotate(270deg)

  100%
    transform: rotate(360deg)


.tabs
  //overflow-x: scroll

.tabs__header
  //width: 1000px
  display: flex
  justify-content: space-between
  overflow-x: scroll
  @include media(1024px)
    overflow: visible
    justify-content: center

.tabs__heading
  display: flex
  flex-direction: column
  //width: 100%
  margin: 0 20px 0 0
  font-family: $f_Roboto-Regular
  @include font(14px, 16px)
  color: $black
  text-align: center
  &:first-child
    margin: 0 20px
  p
    display: inline-block
    width: 200px
    padding: 8px 15px
    margin: 0 0 5px 0
    font-weight: 700
    border: 2px solid $black
    border-radius: 20px
    @include media(1024px)
      width: auto
      padding: 10px 30px
    &:hover
      background: $color_gold
      border: 2px solid $color_gold


  //width: 200px

  &:hover

  &.is-active
    p
      border: 2px solid $color_gold
      color: $color_gold
      background: transparent
.tabs__content

  padding: 10px
  border-radius: 0 0 4px 4px
  display: none
  @include media(1300px)
    padding: 40px 0 0 0
  &.is-active
    display: block



/*** Buy === /.buy === ***/

.buy
  position: relative
  padding: 40px 0
  background: $section_color
  @include media(768px)
    padding: 40px 0 350px 0
  @include media(1300px)
    padding: 60px 0 550px 0
    overflow: hidden
    &:before
      @include pseudo(100%, 100%)
      background: url("../img/buy-desktop-pseudo.png") center no-repeat
      background-size: contain
      bottom: -25%
      z-index: 0

  &__header-title
    display: none

  &__header-title-img
    width: 60%
    display: block
    margin: 0 auto
    @include media(768px)
      margin: 40px auto
      width: 50%
    @include media(1300px)
      width: 30%

  &__action
    position: relative
    z-index: 1
    padding: 25px 0
    display: flex
    justify-content: center

  &__btn
    margin: 0 10px
    padding: 5px 10px
    font-family: $f_Roboto-Regular
    @include font(14px, 16px)
    border: 2px solid $black
    background: transparent
    border-radius: 20px
    font-weight: 700
    @include media(768px)
      padding: 10px 20px
    @include media(1300px)
      padding: 10px 30px
    &:hover
      background: $color_gold
      border: 2px solid $color_gold

  &__select
    display: flex
    justify-content: center

  &__logos
    padding: 40px 20px
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    @include media(768px)
      justify-content: flex-start
      align-items: center
    @include media(1300px)
      justify-content: center
  &__logo
    margin: 10px 0
    width: 44%
    @include media(768px)
      width: 20%
      margin: 0 20px 0 0
    @include media(1300px)
      width: 12%

  &__logo-img
    width: 100%
    @include media(768px)
      width: 80%

  &__footer
    display: none
    @include media(1300px)
      position: absolute
      bottom: 10%
      left: 50%
      max-width: 650px
      margin: 0 auto
      display: block
      text-align: center
      transform: translate(-50%, -35%)

  &__footer-title
    margin: 0 0 20px 0
    @include font(24px, 28px)
    font-family: $f_Roboto-Regular

  &__footer-text
    padding: 0 60px
    @include font(18px, 22px)
    font-family: $f_Roboto-Regular
    color: #7e7e7e

.select-hidden
  display: none
  visibility: hidden
  padding-right: 10px

.select
  cursor: pointer
  display: inline-block
  position: relative
  font-size: 16px
  color: black
  width: 80%
  height: 50px
  border-bottom: 2px solid $black
  @include media(768px)
    width: 40%
  @include media(1300px)
    width: 22%

.select-styled
  width: 100%
  font-family: $f_Roboto-Regular
  position: absolute
  top: 0
  right: 0
  bottom: 0
  left: 0
  padding: 8px 5px
  &:after
    content: ""
    display: block
    width: 12px
    height: 12px
    border: 7px solid transparent
    position: absolute
    background: url("../img/select-arrow.svg") center no-repeat
    background-size: cover
    top: 6px
    right: 10px

  &:hover

    //background-color: darken(red, 2)

  &:active, &.active
    &:after
      width: 12px
      height: 12px
      background: url("../img/select-arrow-active.svg") center no-repeat
      background-size: cover
    &:after
      top: 9px
      //border-color: transparent transparent red transparent


.select-options
  display: none
  position: absolute
  top: 100%
  right: 0
  left: 0
  z-index: 999
  margin: 0
  padding: 0
  list-style: none
  flex-direction: column
  justify-content: flex-start
  //background-color: darken(red, 5)
  li
    display: inline-block
    margin: 10px 0
    padding: 5px
    align-self: flex-start
    font-family: $f_Roboto-Regular
    //padding: 12px 0
    //text-indent: 15px

    //border-top: 1px solid darken(red, 10)
    &:hover
      margin: 10px 0
      padding: 5px
      display: inline-block
      color: black
      background: $color_gold
    &[rel="hide"]
      display: none


.select_active
  display: flex !important
  background: $section_color


/*** Choose === /.choose === ***/

.choose
  padding: 40px 0
  background: url("../img/bck.png") center no-repeat
  background-size: cover
  overflow: hidden
  transition: all .3s ease-in-out
  @include media(1300px)
    padding: 20px 0

  &__header-title
    display: none

  &__header-title-img
    width: 70%
    display: block
    margin: 0 auto
    @include media(1300px)
      margin: 40px auto
      width: 30%

  &__slider
    position: relative

  &__slide-text
    margin: 80px 0 20px 0
    padding: 0 16px
    @include font(16px, 20px)
    text-align: center
    font-family: $f_Roboto-Regular
    color: $color_gold
    @include media(768px)
      display: block
      margin: 100px auto 40px auto
      max-width: 550px
      @include font(30px, 36px)
    @include media(1300px)
      max-width: 700px
  &__slide-content
    display: flex
    flex-wrap: wrap
    justify-content: center
    @include media(768px)
      padding: 0 50px

  &__slide-item
    margin: 20px 0
    display: flex
    justify-content: center
    flex-direction: column
    align-items: center
    width: 45%
    @include media(768px)
      width: 40%
    @include media(1300px)
      margin: 20px 40px
      flex-direction: row
      align-items: flex-start

  &__slide-svg
    @include media(768px)
      display: block
      transform: scale(1.2)

  &__slide-icon-text
    margin: 10px 0 0 0
    font-family: $f_Roboto-Regular
    color: $white
    @include media(768px)
      @include font(29px, 39px)
    @include media(1300px)
      display: none

  &__slide-icon-text-desktop
    display: none
    @include media(1300px)
      padding: 0 20px
      display: block
      color: $white
      @include font(16px, 22px)
      font-family: $f_Roboto-Regular

  &__img-label
    display: block
    margin: 0 auto
    transform: translate(20%, 0)
    @include media(768px)
      width: 50%
    @include media(1300px)
      display: none

  &__img-bottls
    display: block
    margin: 0 auto
    transform: translate(2.5%, 0)
    @include media(768px)
      display: none

  &__bottles-desktop
    display: none
    @include media(1300px)
      position: relative
      z-index: 10
      display: flex
      justify-content: space-around

  &__item-img
    @include media(1300px)
      width: 45%

  &__img-bottls-tablet
    display: none
    @include media(768px)
      width: 50%
      display: block
      margin: 0 auto
      transform: translate(2.5%, 0)
    @include media(1300px)
      display: none

  &__dishes-pseudo
    position: relative
    &:after
      @include pseudo(50%, 50%)
      background: url("../img/advice-slide-dish.png") center no-repeat
      background-size: cover
      bottom: -80%
      left: -15%
      transform: scale(1.5)
      @include media(1300px)
        display: none
    &:before
      @include pseudo(50%, 50%)
      background: url("../img/choose-dish-pseudo.png") center no-repeat
      background-size: contain
      bottom: -80%
      right: -15%
      transform: scale(1.4)
      @include media(1300px)
        display: none



  &__img-logos
    display: block
    margin: 40px auto
    @include media(1300px)
      display: none

  &__img-logos-desktop
    display: none
    margin: 40px auto
    @include media(1300px)
      display: block

  &__body-text
    padding: 0 10px
    @include font(16px, 20px)
    font-family: $f_Roboto-Regular
    color: $white
    text-align: center
    @include media(768px)
      display: block
      margin: 0 auto
      max-width: 550px
      @include font(20px, 24px)

  &__btn
    margin: 20px auto

  &__pagination
    top: 20px
    z-index: 1
    height: 80px

    .swiper-pagination-bullet
      width: 46px
      height: 46px
      border: 2px solid $white
      background: transparent
      color: $white
      font-family: $f_Roboto-Regular
      opacity: 1
      @include font(20px, 43px)
      @include media(768px)
        width: 90px
        margin: 0 50px 0 0 !important
        border-radius: 50px
        &:last-child
          margin: 0 !important
      @include media(1300px)
        position: relative
        z-index: 1
        &:last-child
          &:after
            display: none
        &:after
          @include pseudo(50px,50px)
          top: -5px
          right: -50px
          background: url("../img/choose-arrow.png") center no-repeat

    .swiper-pagination-bullet-active
      outline: none
      background: $color_gold
      border: 2px solid $color_gold


/*** Feedbacks === /.feedbacks === ***/

.feedbacks
  position: relative
  padding: 40px 0 0 0
  background: $section_color
  overflow: hidden
  @include media(1300px)
    padding: 100px 0 0 0

  &__header-title
    display: none

  &__header-title-img
    width: 90%
    display: block
    margin: 0 auto
    @include media(768px)
      width: 60%
    @include media(1300px)
      width: 40%

  &__slider
    padding: 0 15px
    @include media(768px)
      padding: 0 40px
    @include media(1300px)
      padding: 0 0 80px 0


  &__slide
    width: 80%
    margin: 20px 20px 20px 0
    padding: 20px 10px
    font-family: $f_Roboto-Regular
    background: $white
    border-radius: 30px
    @include media(768px)
      width: 55%
      margin: 20px 40px 20px 0
    @include media(1300px)
      width: 30%
      padding: 20px

  &__rating
    margin: 0 0 20px 0
    display: flex
    justify-content: space-between
    align-items: center

  &__rating-list
    display: flex

  &__rating-item
    @include media(768px)
      margin: 0 10px 0 0

  &__rating-svg
    @include media(768px)
      transform: scale(1.3)
    path
      fill: #cfcfcf

  &__rating-svg-active
    path
      fill: $color_gold

  &__user-name
    @include font(22px, 26px)
    @include media(768px)
      @include font(26px, 30px)

  &__product
    margin: 20px 0

  &__product-title
    @include font(12px, 14px)
    @include media(768px)
      @include font(14px, 16px)

  &__product-text
    @include font(12px, 14px)
    @include media(768px)
      @include font(14px, 16px)

  &__pagination
    bottom: 250px
    color: $color_gold
    font-family: $f_Roboto-Regular
    @include media(375px)
      bottom: 220px
    @include media(425px)
      bottom: 200px
    @include media(768px)
      bottom: 180px
    @include media(1300px)
      bottom: 270px
    .swiper-pagination-current
      @include font(30px, 35px)
    .swiper-pagination-total
      @include font(16px, 18px)

  &__leave
    position: relative
    margin: 80px 0 0 0
    padding: 20px
    background: $color_gold
    overflow: hidden
    @include media(768px)
      padding: 40px 0 80px 0
    @include media(1300px)
      padding: 40px 0 0 0
      position: relative
      overflow: visible
      display: flex
      align-items: center
      justify-content: space-evenly
      background: url("../img/feedback-leave-desktop-bck.png") center no-repeat
      background-size: cover
      &:before
        @include pseudo(300px, 400px)
        background: url("../img/feedback-leave-desktop-bottle.png") center no-repeat
        background-size: contain
        left: 45px
        bottom: -80px
    input
      position: relative
      z-index: 1
      @include media(1300px)
        margin: -45px 0 0 0
    &:after
      @include pseudo(100%, 100px)
      bottom: -70px
      left: -10px
      background: url("../img/feedbacks-pseudo.png") center no-repeat
      background-size: cover
      transform: scale(1.4)
      z-index: 0
      @include media(1300px)
        display: none

  &__leave-text
    padding: 0 0 20px 0
    @include font(20px, 23px)
    font-family: $f_Roboto-Regular
    font-weight: 800
    @include media(768px)
      margin: 0 0 50px 0
      padding: 0 0 0 60px
      max-width: 500px
      @include font(30px, 36px)
    @include media(1300px)
      max-width: 400px
      @include font(22px, 25px)
      position: relative
      &:before
        @include pseudo(130px, 130px)
        background: url("../img/feedback-leave-desktop-arrow.png") center no-repeat
        background-size: contain
        right: -190px
        top: -50px




/*** News === /.news === ***/

.news
  padding: 40px 0 0 0
  background: url("../img/bck.png") center no-repeat
  background-size: cover

  &__wrapper
    padding: 20px 0
    display: flex
    overflow-x: scroll
    @include media(768px)
      padding: 0 20px
      overflow: visible
      flex-wrap: wrap
      justify-content: center

  &__header-title
    display: none

  &__header-title-img
    display: block
    margin: 0 auto
    @include media(768px)
      margin: 30px auto
      width: 50%
    @include media(1300px)
      width: 40%

  &__item
    width: 125px
    height: 125px
    margin: 0 5px 0 0
    @include media(1300px)
      margin: 5px
      width: 210px
      height: 210px
    @include media(1920px)
      margin: 5px
      width: 225px
      height: 225px
  &__item-img
    width: 125px
    object-fit: cover
    @include media(1300px)
      width: 210px
      height: 210px

  &__content
    @include media(1300px)
      margin: 40px 0 0 0

  &__content-text-mobile
    padding: 0 30px
    @include font(16px, 20px)
    font-family: $f_Roboto-Regular
    color: $white
    text-align: center
    @include media(768px)
      display: none

  &__content-text-tablet
    display: none
    @include media(768px)
      max-width: 600px
      display: block
      margin: 20px auto 0 auto
      @include font(20px, 24px)
      font-family: $f_Roboto-Regular
      color: $white
      text-align: center
    @include media(1300px)
      position: relative
      &:before
        @include pseudo(130px, 130px)
        background: url("../img/news-desktop-arrow.png") center no-repeat
        background-size: contain
        top: -15%
        left: -10%

  &__contacts-list
    padding: 30px 0
    display: flex
    justify-content: center
    @include media(1300px)
      padding: 45px 0

  &__list-item
    margin: 0 10px
    @include media(768px)
      transform: scale(1.3)

  &__list-email
    @include font(20px, 26px)
    font-family: $f_Roboto-Regular
    color: $color_gold
    @include media(768px)
      margin: 0 0 0 20px


/*** Footer === /.footer === ***/

.footer
  position: relative
  padding: 20px 0 100px 0
  background: $color_gold
  @include media(768px)
    padding: 20px 0 160px 0
  @include media(1300px)
    padding: 60px 0
  @include media(1440px)
    padding: 60px 0 150px 0

  &:after
    @include pseudo(50px,50px)
    bottom: 65px
    left: 50%
    transform: translate(-50%, 50%) rotate(-10deg)
    background: url("../img/leaf.png") center no-repeat
    background-size: contain
    @include media(768px)
      width: 70px
      height: 70px
      top: 80px
      left: 78%
      transform: translate(0)
    @include media(1300px)
      display: none
    @include media(1440px)
      display: none
  &:before
    @include media(768px)
      @include pseudo(70px, 70px)
      background: url("../img/leaf.png") center no-repeat
      background-size: contain
      bottom: 0%
      left: 50%
      transform: scale(-1, 1) translate(50%, -50%)
    @include media(1300px)
      width: 80px
      height: 80px
      top: 160px
      right: 0px
      left: 55%
      background: url("../img/question-leaf.png") center no-repeat
      background-size: contain
      transform: scale(1, 1)
    @include media(1440px)
      width: 120px
      height: 120px
      top: 160px
      right: 0px
      left: 48%
      background: url("../img/question-leaf.png") center no-repeat
      background-size: contain
      transform: scale(1, 1)

  &__wrapper
    max-width: 600px
    @include media(768px)
      max-width: 100%
      padding: 0 60px
    @include media(1300px)
      max-width: 100%
    @include media(1440px)
      max-width: 100%

  &__title
    text-indent: -99999px

  &__title-img
    display: block
    margin: 0 auto
    width: 70%
    @include media(768px)
      width: 50%
      margin: 30px auto
    @include media(1300px)
      width: 30%
      margin: 0
    @include media(1440px)
      width: 30%
      margin: 0

  &__body
    padding: 20px 20px 40px 20px
    font-family: $f_Roboto-Regular
    @include media(768px)
      padding: 0
      width: 100%
      //padding: 40px 80px 40px 60px
    @include media(1300px)
      padding: 15px 0 60px 0
      display: flex
      align-items: center
      justify-content: flex-start
    @include media(1440px)
      padding: 60px 0
      display: flex
      align-items: flex-end
      justify-content: flex-start

  &__content-wrapper
    @include media(1300px)
      max-width: 400px
    @include media(1440px)
      max-width: 400px

  &__address-text
    @include font(16px, 18px)
    color: $black
    @include media(768px)
      max-width: 400px
      @include font(20px, 24px)
    @include media(1300px)
      @include font(18px, 23px)
    @include media(1440px)
      @include font(20px, 24px)

  &__tel
    padding: 0 0 30px 0
    @include media(768px)
      margin: 40px 0
    @include media(1300px)
      padding: 0px 0 20px 0
      margin: 0 0 20px 0
      @include font(32px, 34px)
    @include media(1440px)
      padding: 30px 0 0 0

  &__tel-number
    padding: 20px 0 10px 0
    @include font(26px, 30px)
    color: $black
    @include media(768px)
      @include font(36px, 38px)
    @include media(1300px)
      font-weight: 800
      margin: 30px 0 0 0

  &__tel-text
    @include font(16px, 20px)
    color: $black
    @include media(768px)
      @include font(20px, 24px)

  &__email-wrapper
    @include media(768px)
      display: flex
      justify-content: space-between
    @include media(1300px)
      flex-direction: column
      align-items: center
      justify-content: center

  &__email
    margin: 0 0 20px 0
    padding: 20px
    background-image: repeating-linear-gradient(-2deg, #000000, #000000 19px, transparent 19px, transparent 26px, #000000 26px), repeating-linear-gradient(88deg, #000000, #000000 19px, transparent 19px, transparent 26px, #000000 26px), repeating-linear-gradient(178deg, #000000, #000000 19px, transparent 19px, transparent 26px, #000000 26px), repeating-linear-gradient(268deg, #000000, #000000 19px, transparent 19px, transparent 26px, #000000 26px)
    background-size: 2px 100%, 100% 2px, 2px 100% , 100% 2px
    background-position: 0 0, 0 0, 100% 0, 0 100%
    background-repeat: no-repeat
    @include media(768px)
      width: 45%
    @include media(1300px)
      width: 95%
      margin: 0 20px 30px 20px
    @include media(1440px)
      margin: 0 20px 0 120px
    @include media(1920px)
      width: 90%
      margin: 20px 0 0 50px
  &__email-text
    @include font(16px, 20px)
    color: $black
    @include media(1300px)
      @include font(18px, 23px)
    @include media(1440px)
      @include font(26px, 34px)

  &__email-link
    display: block
    margin: 10px 0 0 0
    @include font(26px, 30px)
    color: $black
    font-weight: 800
    @include media(768px)
      @include font(36px, 38px)
    @include media(1300px)
      @include font(30px, 32px)
    @include media(1440px)
      @include font(36px, 38px)
  &__thumb
    display: none
    @include media(1300px)
      display: block

  &__image
    @include media(1300px)
      position: absolute
      top: 10px
      right: 0px
      width: 450px
      height: 500px
    @include media(1440px)
      position: absolute
      top: 80px
      right: 80px
      width: 350px
      height: 300px
    @include media(1920px)
      position: absolute
      top: 80px
      right: 180px
      width: 535px
      height: 500px



/*** Modal === /.modal-window === ***/

.modal
  position: fixed
  width: 100%
  height: 100%
  top: 50%
  left: 50%
  transform: translate(-50%, -50%) scale(0)
  opacity: 0
  transition: 200ms ease-in-out
  background: url("../img/feebback-popup-bck.png") center no-repeat
  background-size: cover
  z-index: 111111
  @include media(1024px)
    width: 90%
    height: 610px
    border-radius: 20px
    background-size: contain
  @include media(1220px)
    width: 70%
    height: 690px
  &.active
    transform: translate(-50%, -50%) scale(1)
    opacity: 1
  svg
    width: 25px
    height: 25px
    margin: 10px
    position: relative
    top: 20px

.modal-header
  padding: 10px 15px
  display: flex
  justify-content: flex-end
  align-items: center
  svg
    cursor: pointer
    &:hover
      path
        opacity: 1
  .title
    font-size: 1.2em
    font-weight: 700
  .modal__close
    position: relative
    top: 0px
    background: transparent
    border: none
    outline: unset
    font-size: 2em
    cursor: pointer
    @include media(1024px)
      top: 70px

.modal-body
  padding: 10px
  text-align: justify
  @include media(768px)
    max-width: 650px
    margin: 0 auto
  @include media(1220px)
    position: relative
    max-width: 900px
    margin: 0 auto
    &:after
      @include pseudo(90px, 90px)
      bottom: 0%
      left: 2%
      background: url("../img/question-leaf.png") center no-repeat
      background-size: contain

    &:before
      @include pseudo(90px, 90px)
      top: 30%
      right: -15%
      background: url("../img/leaf.png") center no-repeat
      background-size: contain
      @include media(1220px)
        right: 2%
  &__title-text
    display: none
    text-indent: -99999px

  &__title
    width: 100%
    @include media(1024px)
      width: 60%
      display: block
      margin: 40px auto 0 auto

  &__subtitle
    padding: 25px 0
    font-family: $f_Roboto-Regular
    color: $black
    @include font(16px, 20px)

    text-align: center
    @include media(1024px)
      margin: 0 auto
      max-width: 500px
      @include font(20px, 23px)

  &__inputs-wrapper
    @include media(1220px)
      max-width: 600px
      margin: 0 auto

  &__input-block
    label


      color: red
      opacity: 0.6

  &__submit
    display: block
    padding: 14px 20px
    margin: 30px auto 0 auto
    @include font(18px, 23px)
    background: $white
    color: $black
    font-weight: 600
    border-radius: 30px
    transition: .3s ease-in-out
    cursor: pointer
    &:hover
      transition: .3s ease-in-out
      background: #F4FFC6

  &__input
    padding: 2px 5px
    width: 100%
    background: none
    outline: none
    border-bottom: 2px solid $white
    color: $white

  &__server-error
    max-width: 400px
    margin: 10px auto
    padding: 10px 0
    display: none
    text-align: center
    font-size: px-to-rem(16px)
    color: #f00
    font-family: 'Roboto-Regular'
    background-image: repeating-linear-gradient(-2deg, #f00, #f00 19px, transparent 19px, transparent 26px, #f00 26px), repeating-linear-gradient(88deg, #f00, #f00 19px, transparent 19px, transparent 26px, #f00 26px), repeating-linear-gradient(178deg, #f00, #f00 19px, transparent 19px, transparent 26px, #f00 26px), repeating-linear-gradient(268deg, #f00, #f00 19px, transparent 19px, transparent 26px, #f00 26px)
    background-size: 2px 100%, 100% 2px, 2px 100% , 100% 2px
    background-position: 0 0, 0 0, 100% 0, 0 100%
    background-repeat: no-repeat

  &__server-error_active
    display: block

#overlay
  background-color: rgba(0, 0, 0, 0.8)
  opacity: 0
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  pointer-events: none
  transition: 200ms ease-in-out
  z-index: 11111

  &.active
    opacity: 1
    pointer-events: all

.form-control
  margin-bottom: 10px
  padding-bottom: 20px
  position: relative
  label
    display: inline-block
    margin-bottom: 5px
  input
    display: block
    font-family: $f_Roboto-Regular
    font-size: px-to-rem(20px)

  &.success
    label

      color: red
      opacity: 0.6
    input
      width: 100%
      padding: 2px 0
      color: $white
      font-size: px-to-rem(18px)
      line-height: px-to-rem(21px)
      background: none
      border-bottom: 2px solid $white
      outline: none

  &.error
    @include media(1024px)
      &:after
        @include pseudo(50px,50px)
        top: 17px
        right: -48px
        background: url("../img/error-icon.svg") center no-repeat
    label
      color: red
    input
      width: 100%
      padding: 2px 0
      color: $white
      font-size: px-to-rem(18px)
      line-height: px-to-rem(21px)
      background: none
      border-bottom: 2px solid red
      outline: none

#form div.success
  padding: 10px
  text-align: center
  font-size: 38px
  color: white
  font-family: 'Roboto-Regular'
  background-image: repeating-linear-gradient(-2deg, #ffffff, #ffffff 19px, transparent 19px, transparent 26px, #ffffff 26px), repeating-linear-gradient(88deg, #ffffff, #ffffff 19px, transparent 19px, transparent 26px, #ffffff 26px), repeating-linear-gradient(178deg, #ffffff, #ffffff 19px, transparent 19px, transparent 26px, #ffffff 26px), repeating-linear-gradient(268deg, #ffffff, #ffffff 19px, transparent 19px, transparent 26px, #ffffff 26px)
  background-size: 2px 100%, 100% 2px, 2px 100% , 100% 2px
  background-position: 0 0, 0 0, 100% 0, 0 100%
  background-repeat: no-repeat
  @include media(1300px)
    text-align: center
    font-size: 60px
    color: white
    font-family: 'Roboto-Regular'
    background-image: repeating-linear-gradient(-2deg, #ffffff, #ffffff 19px, transparent 19px, transparent 26px, #ffffff 26px), repeating-linear-gradient(88deg, #ffffff, #ffffff 19px, transparent 19px, transparent 26px, #ffffff 26px), repeating-linear-gradient(178deg, #ffffff, #ffffff 19px, transparent 19px, transparent 26px, #ffffff 26px), repeating-linear-gradient(268deg, #ffffff, #ffffff 19px, transparent 19px, transparent 26px, #ffffff 26px)
    background-size: 2px 100%, 100% 2px, 2px 100% , 100% 2px
    background-position: 0 0, 0 0, 100% 0, 0 100%
    background-repeat: no-repeat


/*** Product === /.product === ***/

.product
  background: url("../img/bck.png") center no-repeat
  background-size: cover

  &__header
    display: flex
    flex-direction: column
    align-items: flex-start
    padding: 0 10px
    @include media(768px)
      padding: 0 65px
    @include media(1024px)
      padding: 0 32px
      width: 51%
      float: right

  &__header-title
    display: none

  &__title
    padding: 3px 12px
    margin: 10px 0 30px 0
    display: inline-block
    font-family: $f_Roboto-Regular
    color: $white
    font-weight: 200
    @include font(16px, 18px)
    background: #C4B3E9
    @include media(768px)
      @include font(36px, 38px)
    @include media(1024px)
      @include font(22px, 25px)

  &__img-title
    margin: -20px 0 0 0
    @include media(768px)
      width: 520px
    @include media(1024px)
      width: 300px

  &__img-container
    height: 154px
    overflow: hidden
    object-fit: none
    @include media(768px)
      width: 100
      height: 300px
    @include media(1024px)
      position: absolute
      width: 42%
      height: 100%
      top: 0

  &__img
    width: 100%
    transform: scale(1.5) translate(0, -10%)
    @include media(1024px)
      height: 100%
      object-fit: cover
      transform: translate(0, 0)

  &__body
    padding: 0 15px 45px 15px
    @include media(768px)
      padding: 0 65px 45px 65px
    @include media(1024px)
      margin: -10px 0 0 0
      width: 50%
      padding: 0 20px
      float: right

  &__body-thumb
    position: relative

  &__body-img
    width: 95px
    height: 400px
    top: -140px
    left: 10px
    position: absolute
    @include media(768px)
      top: -250px
      width: 150px
      height: 650px
    @include media(1024px)
      width: 110px
      height: 450px
      top: -50px
      left: -170px
    //display: none


  &__body-list
    padding: 0 0 0 125px
    @include media(768px)
      display: flex
      flex-wrap: wrap
      padding: 20px 0 100px 200px
    @include media(1024px)
      padding: 0

  &__list-item
    margin: 20px 0 20px 0
    display: flex
    align-items: center
    @include media(768px)
      margin: 40px 0 5px 10px
      width: 28%
      flex-direction: column
    @include media(1024px)
      width: 14%
      margin: 0 20px 0 0


  &__item-svg
    @include media(768px)
      margin: 10px 0
      width: 75px
      height: 75px
    @include media(1024px)
      width: 44px
      height: 44px


  &__item-text
    margin: 0 10px 0 20px
    @include font(16px, 18px)
    font-family: $f_Roboto-Regular
    color: $white
    @include media(1024px)
      @include font(12px, 14px)
      margin: 0

  //&__receipt
  //  padding: 0 14px

  &__receipt-title
    margin: 25px 0 15px 0
    @include font(20px, 23px)
    font-family: $f_Roboto-Regular
    color: $color_gold
    @include media(1024px)
      position: relative
      &:after
        @include pseudo(100%, 50px)
        background: rgb(2,0,36)
        background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 14%, rgba(255,255,255,0) 100%)
        top: 138px
        opacity: 0.9
        z-index: 1

  &__receipt-list
    @include media(1024px)
      position: relative
      height: 150px
      overflow-y: scroll
      &::-webkit-scrollbar
        width: 3px
        border-radius: 50%

      &::-webkit-scrollbar-track
        background: grey


      &::-webkit-scrollbar-thumb
        border-radius: 10px
        background-color: $color_gold
        //outline: 1px solid slategrey


  &__receipt-item
    margin: 0 0 25px 0
    text-align: left
    @include font(14px, 20px)
    font-weight: 200
    font-family: $f_Roboto-Regular
    color: $white

  &__receipt-link
    padding: 15px 25px
    display: inline-block
    @include font(16px, 18px)
    font-family: $f_Roboto-Regular
    text-decoration: none
    color: $black
    font-weight: 800
    background: $color_gold
    border-radius: 50px
    @include media(425px)
      text-align: center
      margin: 0 auto
      max-width: 300px
      display: block
    @include media(768px)
      text-align: left
      margin: 0
    @include media(1024px)
      margin: 0 0 100px 0

  &__buy
    margin: 30px 0 0 0
    padding: 20px 25px
    background-image: repeating-linear-gradient(-2deg, #ffffff, #ffffff 19px, transparent 19px, transparent 26px, #ffffff 26px), repeating-linear-gradient(88deg, #ffffff, #ffffff 19px, transparent 19px, transparent 26px, #ffffff 26px), repeating-linear-gradient(178deg, #ffffff, #ffffff 19px, transparent 19px, transparent 26px, #ffffff 26px), repeating-linear-gradient(268deg, #ffffff, #ffffff 19px, transparent 19px, transparent 26px, #ffffff 26px)
    background-size: 2px 100%, 100% 2px, 2px 100% , 100% 2px
    background-position: 0 0, 0 0, 100% 0, 0 100%
    background-repeat: no-repeat
    @include media(425px)
      max-width: 320px
      margin: 30px auto 0 auto
    @include media(768px)
      margin: 65px 0 0 0

  &__buy-text
    margin: 0 0 15px 0
    @include font(20px, 24px)
    font-family: $f_Roboto-Regular
    color: $white


  &__buy-logos
    display: flex
    align-items: center

    img
      margin: 0 15px
      &:nth-child(1)
        margin: 0
        width: 79px
      &:nth-child(2)
        width: 145px


/*** Modal PRODUCT === /.modal-window-product === ***/

.modal-product
  position: fixed
  width: 100%
  height: 100%
  top: 50%
  left: 50%
  transform: translate(-50%, -50%) scale(0)
  opacity: 0
  transition: 200ms ease-in-out
  background-color: red
  z-index: 111111
  overflow: scroll
  @include media(1024px)
    width: 90%
    height: 610px
    border-radius: 20px
    overflow: visible
  @include media(1220px)
    //width: 70%
    max-width: 1200px
    height: 690px
    &:after
      @include pseudo(100%, 600px)
      bottom: 0
      background: rgb(2,0,36)
      background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 14%, rgba(255,255,255,0) 100%)

      z-index: -1

  &.active
    transform: translate(-50%, -50%) scale(1)
    opacity: 1
  .header__close-icon
    width: 25px
    height: 25px
    margin: 10px 20px 10px 10px
    top: 20px

.modal-header-product
  //padding: 10px 15px
  display: flex
  justify-content: flex-end
  align-items: center
  svg
    position: relative
    top: 12px
    width: 25px
    height: 25px
    cursor: pointer
    &:hover
      path
        opacity: 1
  .title
    font-size: 1.2em
    font-weight: 700
  .close-button
    background: transparent
    border: none
    outline: unset
    font-size: 2em
    cursor: pointer


.modal-body-product
  //padding: 10px
  text-align: justify
  @include media(768px)
    //max-width: 650px
    margin: 0 auto
    //padding: 0 40px
  @include media(1220px)
    //position: relative
    //max-width: 900px
    //margin: 0 auto
    &:after
      //@include pseudo(90px, 90px)
      //bottom: 0%
      //left: 2%
      //background: url("../img/question-leaf.png") center no-repeat
      //background-size: contain

    &:before
      //@include pseudo(90px, 90px)
      //top: 30%
      //right: -15%
      //background: url("../img/leaf.png") center no-repeat
      //background-size: contain
      //@include media(1220px)
      //  right: 2%
  &__title-text
    display: none
    text-indent: -99999px

  &__title
    width: 100%
    @include media(1300px)
      width: 70%
      display: block
      margin: 0 auto

  &__subtitle
    padding: 25px 0
    @include font(16px, 20px)

    color: $white
    text-align: center
    @include media(1220px)
      margin: 0 auto
      max-width: 700px
      @include font(30px, 38px)

  &__inputs-wrapper
    @include media(1220px)
      max-width: 600px
      margin: 0 auto

  &__input-block
    label


      color: red
      opacity: 0.6

  &__submit
    display: block
    padding: 14px 20px
    margin: 30px auto 0 auto
    @include font(18px, 23px)
    background: $white
    color: $black
    font-weight: 600
    border-radius: 30px
    transition: .3s ease-in-out
    cursor: pointer
    &:hover
      transition: .3s ease-in-out
      background: #F4FFC6

  &__input
    padding: 2px 5px
    width: 100%
    background: none
    outline: none
    border-bottom: 2px solid $white
    color: $white

  &__server-error
    max-width: 400px
    margin: 10px auto
    padding: 10px 0
    display: none
    text-align: center
    font-size: px-to-rem(16px)
    color: #f00
    font-family: 'Roboto-Regular'
    background-image: repeating-linear-gradient(-2deg, #f00, #f00 19px, transparent 19px, transparent 26px, #f00 26px), repeating-linear-gradient(88deg, #f00, #f00 19px, transparent 19px, transparent 26px, #f00 26px), repeating-linear-gradient(178deg, #f00, #f00 19px, transparent 19px, transparent 26px, #f00 26px), repeating-linear-gradient(268deg, #f00, #f00 19px, transparent 19px, transparent 26px, #f00 26px)
    background-size: 2px 100%, 100% 2px, 2px 100% , 100% 2px
    background-position: 0 0, 0 0, 100% 0, 0 100%
    background-repeat: no-repeat

  &__server-error_active
    display: block

#overlay-product
  background-color: rgba(0, 0, 0, 0.8)
  opacity: 0
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  pointer-events: none
  transition: 200ms ease-in-out
  z-index: 11111

  &.active
    opacity: 1
    pointer-events: all


/*** Multi Step Form  === /.modal-window-product === ***/

#regForm
  input
    display: block
    padding: 10px
    width: 100%
    max-width: 450px
    margin: 70px auto 0 auto
    font-size: 17px
    font-family: Raleway
    border-bottom: 1.83px solid $black
    background: none
    &::-webkit-input-placeholder
      font-family: $f_Roboto-Regular
      color: #15120C
      opacity: 0.8
    &.invalid
      border-bottom: 1.83px solid red
      &::-webkit-input-placeholder
        font-family: $f_Roboto-Regular
        color: red
        opacity: 0.8

  textarea
    display: block
    padding: 10px
    height: 100px
    max-height: 150px
    width: 100%
    max-width: 450px
    margin: 70px auto 0 auto
    font-size: 17px
    font-family: Raleway
    border: 1.83px solid $black
    background: none
    &::-webkit-input-placeholder
      font-family: $f_Roboto-Regular
      color: #15120C
      opacity: 0.8
    &.invalid
      border-bottom: 1.83px solid red
      &::-webkit-input-placeholder
        font-family: $f_Roboto-Regular
        color: red
        opacity: 0.8
.feedback-tab
  display: none
.feedback-step
  height: 15px
  width: 15px
  margin: 0 2px
  background-color: #bbbbbb
  border: none
  border-radius: 50%
  display: inline-block
  opacity: 0.5
  &.active
    opacity: 1
  &.finish
    background-color: #4CAF50

.modal-body-btn
  background: $white
  font-family: $f_Roboto-Regular
  @include font(18px, 21px)
  padding: 20px 88px
  width: 270px
  border-radius: 50px
  display: block
  margin: 40px auto 0 auto
  border: none
  outline: none
  opacity: 0.5
  cursor: pointer
  transition: .3s ease
  &:hover
    opacity: 1

.counter
  max-width: 450px
  display: block
  margin: 20px auto 0 auto
  text-align: right
  font-family: $f_Roboto-Regular

.counter-total
  @include font(20px, 23px)

.counter-current
  font-weight: 800
  @include font(30px, 35px)