@mixin media($size)
  @media (min-width: $size)
    @content

@mixin resolution($size)
  @media (min-resolution: $size)
    @content

@mixin pseudo($w, $h)
  content: ''
  display: block
  position: absolute
  width: $w
  height: $h

@mixin font($fs, $fl)
  font-size: px-to-rem($fs)
  line-height: px-to-rem($fl)

@function px-to-rem($size, $basicSize: 16px)
  @return $size / $basicSize#{rem}